
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>@TempData["value"]</h1>
    <h2>Thank You</h2>
    <div> 
    </div>
</body>
</html>
